.NavigationContainer {
   display: flex;
   align-items: center;
   background-color: #f8f8f8;
   /* Light grey background */
   padding: 24px 64px;
   /* Spacing for the container */
}

.NavigationContainer p {
   font-size: 24px;
   font-weight: bold;
   color: #0d0d0d;
   /* Dark grey/black color for 'Travel' */
}

.NavigationContainer p span {
   color: #00539f;
   /* Dark blue color for 'Trucks' */
}

nav {
   margin-left: 450px;
   
   display: flex;
   gap: 32px;
   /* Space between navigation links */
}

nav a {
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   color: #0d0d0d;
   /* Default black color for links */
}

nav a.active {
   color: #d9534f;
   /* Red color for the active link */
}

nav a:hover {
color: #d9534f;
}

.activeLink {
   color: #d9534f;
   /* Red color for the active link */
}