.NavigationContainer {
   display: flex;
   align-items: center;
   background-color: #f8f8f8;
   padding: 24px 64px;

}

.NavigationContainer p {
   font-size: 24px;
   font-weight: 800;
   color: #0d0d0d;  
}

.NavigationContainer p span {
   color: #475467;
}

nav {
   margin-left: 450px;   
   display: flex;
   gap: 32px;
  
}

nav a {
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   color:#101828;
}

nav a.active {
   color: #d9534f; 
}

nav a:hover {
color: #d9534f;
}

.activeLink {
   color: #d9534f;   
}