.form {
   width: 640px;
   padding: 44px 57px;
   border: 1px solid #eee;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.heading,
.subheading {
   font-family: "Inter", sans-serif;
}

.heading {
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   margin: 0 0 8px;
}

.subheading {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #475467;
   margin-bottom: 24px;
}

.input,
.textarea {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   border: 0px;
   background-color: #f7f7f7;
   font-size: 16px;
   height: 60px;
}

.input {
   margin-bottom: 14px;
}

.textarea {
   margin-bottom: 24px;
   height: 118px;
   resize: none;
}

.buttonWrapper,
.btnContainer {
   display: flex;
   justify-content: center;
   width: 100%;
}

.buttonWrapper {
   margin-top: 24px;
}

.button {
   padding: 12px;
   border-radius: 30px;
   border: none;
   background-color: #e94b35;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
}