.campersContainer{
   margin-top: 48px;
   padding: 0 64px;
   display: flex;
   gap: 64px;
}
.filterContainer{
   width: 360px;

}
.listContainer{
   display: flex;
   flex-direction: column;
   width: 888px;
   gap: 32px;
   padding-left: 0;

}
.camperCard{
   padding: 24px;
   border: 1px solid #DADDE1;
   border-radius: 20px;
}
.chekboxIcon{
   width: 112px;
   height: 96px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   border-radius: 12px;
   border: 1px solid #DADDE1;
   border-radius: 10px;
   cursor: pointer;
}
.chekboxIcon.selected {
   border: 1px solid red;
   
}
.filterForm{
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
}
.filterTitle{
   width: 100%;
   border-bottom: 1px solid #DADDE1;
   font-family: "Inter", sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;

}
.fieldName{
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   color: #475467;

}
.filterForm input {
   background-color: #F7F7F7;
   width: 360px;
   height: 56px;
   border-radius: 12px;
   padding: 16px 48px;
}
.filterForm label {
      color: #10182899;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

}
.inputContainer {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 40px;
}

.inputWithIcon {
   padding-left: 48px;
   flex: 1;
   height: 40px;
   border: 1px solid #ccc;
   border-radius: 12px;
   font-size: 16px;
   background-color: #F7F7F7;
}

.iconWrapper {
   position: absolute;
   left: 18px;
   top: 50%;
   transform: translateY(-50%);
}

.iconWrapper svg {
   width: 20px;
   height: 20px;
   fill: #333;
}
.noCampers{
   text-align: center;
}
.searchButton{
   margin-top: 40px;
}

.loadMoreButton {
   width: 145px;
   height: 56px;
   padding: 16px 32px 16px 32px;
   border: 1px solid #DADDE1;
   align-self: center;
   border-radius: 200px;
   background-color: white;
   margin-bottom: 52px;
   cursor: pointer;
}
.loadMoreButton:hover{
   border-color: #d84343;
}

.locationLabel{

      font-family: "Inter", sans-serif;
      color:#6C717B;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin-bottom: 8px;
}